html, body {
	margin: 0;
	padding: 0;
}
html {
	background-color: #AAAAAA;
	padding: 20px;
}
body {
	background-color: #EEEEEE;
}
#top {
	background-color: #234567;
}

#content {
	padding: 5px;
}

#clothingList {
	/*background-color: #777777;*/
}

.container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.item {
  background: tomato;
  padding: 5px;
  margin-top: 10px;
  
  line-height: 50px;
  color: white;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}