<!DOCTYPE html>
<html>
<head>
	<title>Smart Style Advisor</title>
	<script type="text/javascript" src="jquery-3.1.0.min.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div id='top'>
			<img src="SmartStyleAdvisor_logo.png" width="400" height="180">
	</div>
	<div id='content' class="container">
		<div class="item">
			<h2>Recommended Clothing</h2>
			<ul id="clothingList"></ul>
		</div>
		<div class="item">
			<h2>Current Weather</h2>
			<div id="weather"></div>
		</div>
		<!-- Test Button
		<div class="item">
			<button type="submit" id="testb" value="Submit">Submit</button>
		</div>
		-->
	</div>
	
	<script type="text/javascript">

		function buildList(name, color, type){
			var h = '<li><span style="color:' + color + '">' + color + '</span> ' + name + ' Type: ' + type + '</li>';
			$('#clothingList').append(h);
		}

		$.getJSON("/clothing", function(data){
			for(var i = 0; i < data.length; i++){
				var item = data[i];
				buildList(item.name, item.color, item.subtype);
			}
			
		});

		$.getJSON("/weather", function(data){
			var h = '<img src="/icons/' + data.weather.icon + '.png" width="100" height="100">';
			h += '<h3>Situation: ' + data.weather.description + '</h3>';
			h += '<h3>Temperature: ' + data.temp + '</h3>';
			$('#weather').append(h); 
			
		});
		/* Test Function
		$( "#testb" ).click(function() {
  			$.ajax({
  				method: "POST",
  				url: "/updateClothing",
  				data: {"clothing": [{"color": "blue", "type": "pants","subtype":"jeans", "name": "Jeans", "id": "22D0F355"}, {"color": "red", "type": "top","subtype":"shirt", "name": "T-Shirt", "id": "799FD4E5"}, {"color": "yellow", "type": "shoes","subtype":"sneakers", "name": "Addidas Sneakers", "id": "5785143B"},{"color": "black", "type": "top","subtype":"sweater", "name": "Cool Sweater", "id": "00000000"},{"color":"white", "type":"pants","subtype":"shorts","name":"White Shorts","id":"11111111"}], "temp":"20"}
			});
		});
		*/
	</script>
</body>
</html>